* {
    box-sizing: border-box;
}

body {
    width: 1440px;
    margin: 0 auto;
}

.header {
    height: 83px;
    background-color: rgba(19, 19, 19, 1);
    color: rgba(227, 184, 115, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font: 11px / 15px 'Nuniti Sans', sans-serif;
}

.header__text {
    display: inline-block;
}

.header__text:first-of-type {
    margin-left: 92px;
    margin-right: 105px;

}

.header__text:last-of-type {
    margin-left: 75px;
    margin-right: 45px;
    text-decoration: underline;
}

.header__menu-list {
    width: 581.43px;
    height: 10px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.header__menu_item_link {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

.header__menu_item_link-active {
    color: rgba(227, 184, 115, 1);
}

.header__menu_item_link:hover {
    color: rgba(227, 184, 115, 1);
}

.header__btn {
    max-width: 161px;
    height: 37px;
    padding: 13px 33px;
    border-radius: 2px;
    border: none;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(227, 184, 115, 1);
    font: italic 11px / 15px 'Nunito Sans', sans-serif;
    margin-right: 90px;
    cursor: pointer;
}

.header__btn:hover {
    color: rgba(227, 184, 115, 1);
    background-color: rgba(255, 255, 255, 1);
}


/*_____________main______________*/

.wrapper {
    font: 22px / 36.01px 'Nuniti Sans', sans-serif;
}

.wrapper__block-one {
    background-color: rgba(19, 19, 19, 1);
}

.wrapper__block-one_content {
    width: 1440px;
    height: 707px;
    margin: 0 auto;
    background: url(images/home/png/image1.png);
}

.wrapper__block-one_content_block1 {
    width: 676.11px;
    height: 305px;
    padding: 194px 0 208px 134px;
}

.wrapper__title {
    margin: 0;
    font: 40px / 53.13px 'Yeseva One', serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
}

.wrapper__title span {
    color: rgba(227, 184, 115, 1);
}

.wrapper__text {
    width: 504px;
    color: rgba(255, 255, 255, 1);
    margin: 0;
    padding-top: 19px;
}

.block1__btn {
    width: 207px;
    min-height: 51px;
    border-radius: 2px;
    border: none;
    font: italic 11px / 15px 'Nunito Sans', sans-serif;
    color: rgba(255, 255, 255, 1);
    margin-top: 25px;
    cursor: pointer;
}

.wrapper__block-one_btn-left {
    background-color: rgba(227, 184, 115, 1);
    box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.3);
    margin-right: 20px;
}

.wrapper__block-one_btn-left:hover {
    color: rgba(227, 184, 115, 1);
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(255, 255, 255, 1);
}

.wrapper__block-one_btn-right {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(255, 255, 255, 1);
}

.wrapper__block-one_btn-right:hover {
    background-color: rgba(227, 184, 115, 1);
}

.wrapper__block-one_btn-mobile {
    display: none;
}



.wrapper__block-one_content-two {
    width: 1440px;
    display: flex;
    flex-flow: row wrap;
    position: relative;
    margin: 0 auto;
}

.wrapper__block-one_content-two_elem1 {
    width: 442px;
    margin-top: 176.36px;
    margin-left: 134.45px;
}

.elem1__title-h2 {
    width: 240px;
    height: 66px;
    font:400 27px / 37.42px 'Yeseva One', serif;
    color: rgba(227, 184, 115, 1);
    margin: 0;
    text-transform: uppercase;
}

.wrapper__text-content {
    font: 14px / 26.73px 'Nunito Sans', sans-serif;
    margin: 0;
    padding-top: 34px;
}

.wraperr__mobile_block {
    display: none;
}

.wrapper__block-one_content-two_elem1__description {
    width: 442px;
    display: flex;
    flex-flow: row wrap;
    row-gap: 34px;
    column-gap: 5px;
    margin-top: 42px;
}

.wrapper__block-one_description-one {
    width: 172px;
}

.elem1__title-h3 {
    text-transform: uppercase;
    margin: 0;
    font: 400 18px / 24.95px 'Yeseva One', serif;
    color: rgba(227, 184, 115, 1);
}

.wrapper__text-content_din {
    font: 13px / 21.28px 'Nunito Sans', sans-serif;
    margin: 0;
    padding-top: 9px;
    color: rgba(255, 255, 255, 1);
}

.wrapper__block-one_content-two_elem1__description_arrow {
    max-width: 442px;
    height: 13.28px;
    margin-top: 45.64px;
    display: flex;
    align-items: center;
}

.wrapper__block-one_content-two_elem1__description_arrow div {
    width: 9.57px;
    height: 9.57px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
}

.wrapper__block-one_content-two_elem1__description_arrow div:nth-of-type(2) {
    margin-left: 17.54px;
    margin-right: 17.54px;

}

.wrapper__left-arrow {
    margin-right: 29.5px;
}

.wrapper__right-arrow {
    margin-left: 29.5px;
}



.wrapper__block-one_content-two_elem1__description_arrow div:nth-of-type(1) {
    background-color: rgba(255, 255, 255, 1);
}



.wrapper__block-one_content-three {
    width: 679px;
    min-height: 550px;
    margin-top: 107px;
    margin-right: 134.55px;
    margin-left: 50px;
}

.wrapper__block-one_content-three_menu_list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.wrapper__block-one_content-three_menu_ilem:not(:last-child) {
    margin-right: 60.5px;
}

.wrapper__block-one_content-three_menu_link {
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
    font: 14px / 19.4px 'Yeseva One', serif;
    
}

.wrapper__block-one_content-three_menu_link.active {
    color: rgba(227, 184, 115, 1);
    border-bottom: solid 1px rgba(227, 184, 115, 1);
    padding-bottom: 6px;
}

.wrapper__block-one_content-three_menu_link:hover {
    color: rgba(227, 184, 115, 1);
}

.wrapper__block-one_content-three_bgd {
    margin: 0;
    padding-top: 45.36px;
}



.wrapper__block-one_on-conrol {
    width: 178px;
    max-height: 66.76;
    margin: 85px auto 257.21px;
}

.wrapper__block-one_on-conrol span {
    font: 20px / 27.72px 'Yeseva One', serif;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    text-align: center;
}

.wrapper__block-one_on-conrol_img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12.79px;
    column-gap: 9.57px;
}

.wrapper__block-one_content-four {
    position: absolute;
    min-width: 817px;
    min-height: 433px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 880px;
    left: 311.45px;
    background: url(images/home/png/image\ 3.png) center center;
    background-size: 115% 140%;
    
}

.wrapper__block-one_content-four_img-mobil {
    display: none;
}


/*_____________*/

.wrapper__block_two {
    width: 1440px;
    margin: 0 auto;
    position: relative;
}


.wrapper__block_two_centr-f {
    width: 55px;
    height: 1.54px;
    margin: 270.5px auto 34.46px;
    border: 1px solid rgba(227, 184, 115, 1);
    border-radius: 30px;
}

.wrapper__block_two_text {
    width: 681px;
    height: 130.91px;
    text-align: center;
    margin: 0 auto;
    font: 18px / 36.83px 'Nunito Sans', sans-serif;
}

.wrapper__block_two_form {
    width: 769px;
    height: 51px;
    margin: 91.5px auto 0;
    display: flex;
    flex-wrap: wrap;
    gap: 49px;
}

.wrapper__block_two_form_elem {
    height: 51px;
    display: flex;
    flex-direction: column;
}

.wrapper__block_two_form_elem > label {
    font: 13px / 21.28px 'Nunito Sans', sans-serif;
    color: rgba(54, 54, 54, 0.5);
    margin: 0;
}

.wrapper__block_two_form_elem > input {
    width: 231px;
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    padding-bottom: 8px;
    font: 14px / 22.92px 'Nunito Sans', sans-serif;
    color: rgba(54, 54, 54, 1);
    margin: 0;
}

.wrapper__block_two_form_btn {
    width: 200px;
    margin: 0;
    font-style: normal;
}

.wrapper__block_two_form_checkbox {
   max-width: 295.62px;
   min-height: 18px;
   margin: 33.24px auto 0; 
   position: relative;
}

.wrapper__block_two_form_cbox_lab {
    font-size: 14px;
    cursor: pointer;
}

.wrapper__block_two_form_cbox {
    accent-color: rgba(227, 184, 115, 1);
    cursor: pointer;
}


/*___types of repair____*/

.wrapper__block_two_repair {
    width: 257px;
    margin: 147.85px auto 31px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper__block_two_repair > span {
    font: 1.25rem / 1.73rem 'Yeseva One', serif;
    color: rgba(24, 24, 24, 1);
}

.wrapper__block_two_repair_img {
    width: 114px;
    height: 28px;
    margin-top: 13px;
}


/*____two_offr______*/

.wrapper__block_two_offr {
    max-width: 1236px;
    height: 608px;
    margin: 0 auto;
    display: flex;
    gap: 30px;
}

.wrapper__block_two_offr_bloc {
    width: 392px;
    height: 608px;
    position: relative;
}

.wrapper__block_two_offr_img {
    width: 392px;
    height: 421px;
}

.wrapper__block_two_offr_bloc-subBloc {
    width: 330px;
    height: 286px;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.03);
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 294px;
    left: 31px;
    z-index: 2;
}

.wrapper__block_two_offr_bloc-subBloc_title {
    font: 400 1.125rem / 1.559rem 'Yeseva One', serif;
    margin: 0;
    padding-top: 25px;
    padding-left: 34px;
}

.wrapper__block_two_offr_bloc-subBloc_list {
    width: 267px;
    height: 178px;
    font: 0.81rem / 1.66rem 'Nunito Sans', sans-serif;
    color: rgba(149, 149, 149, 1);
    margin-top: 13px;
    margin-left: 34px;
    padding: 0;
    list-style: none;
}

.wrapper__block_two_offr_bloc-subBloc_item {
    position: relative;
    padding-left: 10px;
}

.wrapper__block_two_offr_bloc-subBloc_item::before {
    content: '•';
    position: absolute;
    top: 0;
    left: 0;
}


.wrapper__block_two_offr_bloc_price {
   width: 228px;
   height: 54px;
   background-color: rgba(227, 184, 115, 1);
   box-shadow: 5px 5px 10px 0px rgba(227, 184, 115, 0.3);
   position: absolute;
   top: 555px;
   left: 31px;
   z-index: 3;
   display: flex;
   justify-content: center;
   align-items: center;
}

.wrapper__block_two_offr_bloc_price span {
    text-transform: uppercase;
    font: 400 1.125rem / 1.559rem 'Yeseva One', serif;
    color: rgba(255, 255, 255, 1);
}

/*___b_two-info____*/

.wrapper__block_two_info {
    width: 1440px;
    height: 725px;
    margin-top: 124px;
    margin-left: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 131px;
    position: relative;
}

.wrapper__block_two_info-elem {
    width: 700px;
    height: 645px;
    background: url(images/home/png/image5.png);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.wrapper__block_two_info-circle {
    max-width: 49.76px;
    min-width: 49.76px;
    max-height: 49.76px;
    min-height: 49.76px;
    border-radius: 50%;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(227, 184, 115, 1);
    border: 8px solid rgba(255, 255, 255, 1);
    box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.15);
    font-size: 1.13rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 82px;
}

.wrapper__block_two_info-circle span {
    font: 1.13rem 'Yeseva One', serif;
}

.wrapper__block_two_info-elem_text {
    width: 350px;
    font: 0.875rem / 1.193rem 'Nunito Sans', sans-serif;
    margin: 0;
    padding-left: 8px;
    
}

.wrapper__block_two_info-elemItem {
    width: 455px;
    max-height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 75px;
}

.wrapper__block_two_info-user {
    width: 506px;
    height: 509px;
    background-color: rgba(19, 19, 19, 1); 
    color: rgba(255, 255, 255, 1);
    align-self: center;
}

.wrapper__block_two_info-user_form {
    width: 408px;
    height: 244px;
    display: flex;
    flex-flow: column wrap;
    margin: 0 auto;
}

.wrapper__block_two_info-user p {
    width: 250px;
    height: 47px;
    color: rgba(255, 255, 255, 1);
    margin: 28px auto 39px;
    text-align: center;
    font: 1.125rem / 1.61rem 'Nunito Sans', sans-serif;
}

.wrapper__block_two_info-user_form label {
    font: 0.8rem / 1.33rem 'Nunito Sans', sans-serif;
    color: rgba(255, 255, 255, 0.5);
}

#userName, #userPhone, #userEmail {
    background-color: rgba(19, 19, 19, 1);
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    padding: 5px 0 7px;
    cursor: pointer;
}

#userName::-webkit-input-placeholder, 
#userPhone::-webkit-input-placeholder, 
#userEmail::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 1);
    font-size: 0.87rem;
}

.wrapper__block_two_info-user_form label:not(:first-of-type) {
    padding-top: 48px;
}

.wrapper__block_two_info-userData {
    width: 286px;
    height: 18px;
    margin: 0 0 0 49px;
    padding-top: 16px;
    font-size: 0.87rem;
    accent-color: rgba(227, 184, 115, 1);
    cursor: pointer;
}

#callMesurer {
    width: 213px;
    height: 51px;
    background-color: rgba(227, 184, 115, 1);
    box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.15);
    text-transform: uppercase;
    border: none;
    color: rgba(255, 255, 255, 1);
    font: 0.8rem 'Nunito Sans', sans-serif;
    margin: 39px 49px 27px 244px;
}

.wrapper__block_two_info_discount {
    width: 441px;
    max-height: 72px;
    display: flex;
    align-items: center;
    position: absolute;
    left: 850px;
    top: 665px;
}


.wrapper__block_two_info_discount_img {
    width: 100px;
    height: 100px;
}

.wrapper__block_two_info_discount_text {
    font-size: 1.125rem;
    line-height: 1.625rem;
    color: rgba(227, 184, 115, 1);
    padding-bottom: 7px;
}



/*______samples_________*/

.wrapper__block_two_samples {
    width: 1440px;
    height: 864px;
    background: url(images/home/png/image\ 6g.png) center center;
    margin-top: 242px;
    display: flex;
}

.wrapper__block_two_samples_examples {
    width: 400px;
    margin: 0 0 97.15px 99px;
    padding-top: 137.5px;
}

.wrapper__block_two_samples_examples-heading {
    font: 1.7rem / 2.3rem 'Yeseva One', serif;
    color: rgba(227, 184, 115, 1);
    margin: 0;
    text-transform: uppercase;
}

.wrapper__block_two_samples_examples_list {
    height: 516px;
    list-style: none;
    margin-top: 47px;
    padding: 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.wrapper__block_two_samples_examples_link {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-size: 1.25rem;
    cursor: pointer;
}

.wrapper__block_two_samples_examples_link.active {
    color: rgba(227, 184, 115, 1);
    text-decoration: underline;
}

.wrapper__block_two_samples_photo {
    width: 700px;
    height: 864px;
    position: relative;
    margin-left: 80px;
}

.wrapper__block_two_samples_photo_img {
    position: absolute;
}

.photo-img1 {
    top: -50px;
}

.photo-img2 {
    top: 556px;
}

.photo-img3 {
    top: -120px;
    left: 400px;
}

.photo-img4 {
    top: 199px;
    left: 400px;
}


/*____our clients_____*/

.wrapper__block_two_clients-title {
    width: 450px;
    margin-top: 100px;
}

.wrapper__block_two_clients-title > span {
    text-transform: uppercase;
    margin-bottom: 13.22px;
}

.wrapper__block_two_clients-title_text {
    text-align: center;
    font-size: 1.125rem;
    line-height: 1.8rem;
    margin: 0;
    margin-top: 24.16px;
}

.wrapper__block_two_client-feedback {
    max-width: 1263;
    height: 455px;
    margin: 39px 102px 355px;
    display: flex;
    justify-content: space-between;
}

.wrapper__block_two_client-feedback_elem {
    width: 376px;
    height: 428px;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.04);
    position: relative;
}

.wrapper__block_two_client-feedback_elem_img {
    margin-top: 24px;
    margin-left: 20px;
    float: left;
}

.wrapper__block_two_client-feedback_elem_name {
    width: 178px;
    height: 42px;
    display: block;
    font: 1.125rem / 1.4rem 'Yeseva One', serif;
    margin-top: 41px;
    margin-left: 119px;
}

.wrapper__block_two_client-feedback_elem_text {
    width: 315px;
    font-size: 0.8rem;
    line-height: 1.4rem;
    color: rgba(149, 149, 149, 1);
    clear: both;
    margin: 30px 20px 16px;
}

.wrapper__block_two_client-feedback_elem_text:last-of-type {
    margin-top: 0;
}

.wrapper__block_two_client-feedback_size {
    position: absolute;
    top: 385px;
    left: -16px;
}

.lowe_background {
    position: absolute;
    top: 3530px;
}

.wrapper__block_two_lowe_background-right {
    right: 0;
}


/*_____block_three_________*/

.wrapper__block_three {
    width: 1440px;
    height: 954px;
    margin: 0 auto;
    background: url(images/home/png/fon-bott-maps.png);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper__block_three::before {
    content: " ";
    position: absolute;
    width: 1440px;
    min-height: 954px;
    top: 0;
    z-index: -1;
    background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%);
    ;
}

.wrapper__block_three_infoUser {
    width: 883px;
    height: 445px;
    background: rgba(19, 19, 19, 1);
    position: absolute;
    top: -223px;
    left: 288.7px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper__block_three_infoUser > span {
    display: inline-block;
    margin: 34.4px 313px 0;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    font: 1.25rem 'Yeseva One', serif;
}

.wrapper__block_three_form {
    width: 520px;
    height: 138.8px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    row-gap: 48.76px;
    margin: 45.84px auto 0;
}

.wrapper__block_three_form_label {
    width: 231px;
    height: 45px;
    font-size: 0.8rem;
    line-height: 1.3rem;
    color: rgba(255, 255, 255, 0.5);
    margin: 0;
}

.wrapper__block_three_form_ipt {
    width: 231px;
    background-color: rgba(19, 19, 19, 1);
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    padding: 5px 0 7px;
    cursor: pointer;

}

.wrapper__block_three_form_ipt::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 1);
    font: 0.9rem / 1.4rem 'Nunito Sans', sans-serif;
}

#userQuestion {
    width: 520px;
}

.wrapper__block_three_info-userData {
    width: 285.62px;
    margin: 46.46px 298px 0;
    display: block;
    color: rgba(255, 255, 255, 1);
    font-size: 0.8rem;
    line-height: 1.4rem;
    accent-color: rgba(227, 184, 115, 1);
}

#callMesurer.wrapper__block_three_form_btn {
    margin: 0;
    margin-top: 46.46px;
}

.wrapper__block_three_text {
    display: block;
    margin-top: 275px;
    margin-bottom: 26px;
    text-align: center;
    font: 1.25rem / 1.7rem 'Yeseva One', serif;
    color: rgba(227, 184, 115, 1);
}

.wrapper__block_three_mail {
    display: flex;
    gap: 15px;
    margin-bottom: 43px;
}

.wrapper__block_three_img {
    width: 925px;
    height: 465px;
}


/*_____footer_____*/

.footer {
    width: 1440px;
    height: 133px;
    margin: 0 auto;
    background-color: rgba(19, 19, 19, 1);
    color: rgba(227, 184, 115, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font: 11px / 15px 'Nuniti Sans', sans-serif;
}



@media screen and (max-width: 375px) {
    body {
        width: 375px;
    }
    
    .header {
        height: 57px;
    }
    
    .header__menu {
        display: none;
    }

    .header__btn {
        display: none;
    }

    .header__text:first-of-type {
        margin-left: 18px;
        margin-right: 0;
    }

    .header__text:last-of-type {
        margin-left: 0;
        margin-right: 18px;
        color: rgba(255, 255, 255, 1);
        text-decoration: none;
        font-style: normal;
    }

    
    /*________main___________*/

    .wrapper__block-one_content {
        width: 375px;
        height: 476px;
        background: url(images/mobile/png/fon-b1.png);
        position: relative;
    }

    .wrapper__block-one_content::after {
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        position: absolute;
        background: rgba(0, 0, 0, 0.7);
        mix-blend-mode: multiply;
        z-index: 2;
    }

    .wrapper__block-one_content_block1 {
        position: relative;
        z-index: 3;
        width: 339px;
        height: 60px;
        padding: 85px 18px 0;
    }

    .br_home {
        display: none;
    }

    .wrapper__title {
        font: 23px / 30.55px 'Yeseva One', serif;
    }

    .wrapper__text {
        width: 339px;
        font: 14px / 19.02px 'Nunito Sans', sans-serif;
        padding-top: 16px;
    }

    .block1__btn {
        width: 338.61px;
        height: 51px;
        margin: 0;
    }

    .wrapper__block-one_btn-left {
        margin-top: 68px;
    }

    .wrapper__block-one_btn-right {
        display: none;
    }

    .wrapper__block-one_btn-mobile {
        display: inline;
        margin-top: 26px;
    }

    .wrapper__block-one_content-two {
        width: 340px;
        flex-flow: column wrap;
        margin: 0 18px;
    }

    .wrapper__block-one_content-two_elem1 {
        max-width: 340px;
        margin: 0;
        margin-top: 36px;
    }

    .elem1__title-h2 {
        text-align: center;
        margin: 0 auto;
        font: 22px / 30.49px 'Yeseva One', serif;
    }

    .wrapper__text-content { 
        font: 11px / 17.43px 'Nunito Sans', sans-serif;
        text-align: center;
    }

    .wrapper__block-one_content-two_elem1__text {
        width: 311px;
        height: 86px;
        padding: 0;
        margin: 22px 14px 0;
    }

    .wraperr__mobile_block {
        display: block;
        width: 340px;
        height: 241.55px;
        margin-top: 36px;
        position: relative;
    }

    .wraperr__mobile_block_ar-Left {
        position: absolute;
        z-index: 2;
        top: 103px;
        left: 14px;
    }

    .wraperr__mobile_block_ar-Right {
        position: absolute;
        z-index: 2;
        top: 103px;
        right: 14px;
    }

    .wrapper__block-one_content-two_elem1__description {
        width: 341px;
        height: 145px;
    }

    .elem1__title-h3 {
        font: 14px / 19.4px 'Yeseva One', serif;
    }

    .wrapper__block-one_description-one {
        width: 140px;
    }

    .wrapper__text-content_din {
        font: 11px / 14.94px 'Nunito Sans', sans-serif;
        padding-top: 11px;
    }

    .wrapper__block-one_content-two_elem1__description_arrow {
        display: none;
    }

    .wrapper__block-one_content-three {
        display: none;
    }

    .wrapper__block-one_on-conrol {
        width: 224px;
        text-align: center;
        margin: 58px auto 40.21px;
    }

    .wrapper__block-one_on-conrol span {
        font: 22px / 30.49px 'Yeseva One', serif;
        
    }

    .wrapper__block-one_on-conrol_img {
        margin-top: 19.79px;
    }

    .wrapper__block-one_content-four {
        position: static;
        min-width: 340px;
        min-height: 207px;
        left: 0;
        top: 0;
        background: url(images/mobile/png/image\ 3.png);
        margin: 0;
    }

    .wrapper__block-one_content-four_img {
        display: none;
    }

    .wrapper__block-one_content-four_img-mobil {
        display: block;
    }
}



@media screen and (min-width: 2499px) {
    body {
        width: 2500px;
    }

    .header {
        justify-content: center;
    }

    .header__text:first-of-type {
        margin-left: 642px;
        margin-right: 105px;
    }

    .header__btn {
        margin-right: 602px;
    }
    
    .header__text:last-of-type {
        margin-left: 75px;
        margin-right: 45px;
        text-decoration: underline;
    }



    /*________main___________*/

    .wrapper__block-one_content {
        width: 2500px;
        height: 808px;
        background: url(images/home/png/image1hom.png) no-repeat;
    }

    .wrapper__block-one_content_block1 {
        padding: 0;
        padding-top: 194px;
        margin-left: 684px;
    }

    .footer {
        width: 2500px;
        justify-content: center;
    }

    .footer__text:first-of-type {
        margin-left: 642px;
        margin-right: 105px;
    }

    .footer__btn {
        margin-right: 602px;
    }
    
    .footer__text:last-of-type {
        margin-left: 75px;
        margin-right: 45px;
        text-decoration: underline;
    }
}